@keyframes flap-r {
  0%,
  10% {
    border-top-width: 60px;
  }
  40%,
  60% {
    border-top-width: 10px;
  }
  100% {
    border-top-width: 60px;
  }
}

@keyframes flap-l {
  0% {
    border-bottom-width: 0;
  }
  40%,
  60% {
    border-bottom-width: 40px;
  }
  100% {
    border-bottom-width: 0;
  }
}

@keyframes fly {
  0% {
    top: 0;
    left: -100%;
    transform: scale3d(0.5, 0.5, 1)
  }
  100% {
    top: 100px;
    left: 200%;
    transform: scale3d(1, 1, 1)
  }
}

@keyframes bob {
  0% {
    top: 25px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 25px;
  }
}


.animation {
  &__wrapper {
    position: fixed;
    z-index: 99;
    top: 5vh;
    left: 0;
    width: 100%;
  }

  &__frame {
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    animation-name: fly;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }

  &__bird {
    position: absolute;
    animation: bob 1s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);

    div {
      position: absolute;
    }

    &--body1,
    &--body2,
    &--wing-l,
    &--wing-r {
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent;
    }

    &--body1 {
      border-width: 15px;
      border-top-color: #d7d7d7;
      border-right-width: 55px;
      border-left-width: 25px;
    }

    &--body2 {
      bottom: 0;
      left: 50px;
      border-width: 10px;
      border-top-width: 0;
      border-right-width: 15px;
      border-bottom-color: #c8c8c8;
      border-left-width: 5px;
    }

    &--wing-l {
      bottom: 0;
      left: 22px;
      animation: flap-l 0.7s infinite;
      border-width: 60px;
      border-top-width: 0;
      border-right-width: 6px;
      border-bottom-color: #c2c7ba;
      border-left-width: 20px;
    }

    &--wing-r {
      top: 0;
      left: 22px;
      animation: flap-r 0.7s infinite;
      border-width: 60px;
      border-top-color: #d7d7d7;
      border-right-width: 6px;
      border-bottom-width: 0;
      border-left-width: 20px;
    }
  }
}
