.breadcrumbs {
  display: none;
  list-style: none;
  margin-left: calc(-100% + 1.5rem);
  padding: 0;
  overflow: hidden;

  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }

  .separator {
    font-size: 0;
    &::after {
      content: "★";
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}


@include media-breakpoint-up(sm) {

  .breadcrumbs {
    display: block;
    transform: none;
    margin: 1rem 0 2rem;
  }
}
