.sidebar {
  .events {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    .events {
      font-family: Esteban, serif;
      display: block;

      h4,
      h5 {
        font-size: 0.8rem;
        line-height: 1.2rem;
        margin: 0 0 0.4rem 0;
      }

      h5 {
        line-height: 0.9rem;
      }

      strong {
        font-size: 0.75rem;
        font-weight: 600;
        letter-spacing: -0.02rem;
      }

      a {
        font-weight: normal;
        border-bottom: 2px solid $lovis-red;
      }

      &__list {
        line-height: 110%;
        z-index: 1;
        float: right;
        max-width: 250px;
        margin: 2rem 1rem 0 0;
        padding: 0;
        list-style: none;
        text-align: right;
      }

      &__item {
        font-size: 0.8rem;
        margin-bottom: 0.75rem;
        padding: 1rem 1rem 0.5rem 1rem;
        hyphens: auto;
        background-color: $paper-gray;

        &--canceled {
          position: relative;
          cursor: not-allowed;

          a {
            pointer-events: none;
          }

          filter: grayscale(100%);

          &:before {
            position: absolute;
            z-index: 99;
            top: 0;
            left: 0;
            display: flex;
            width: 100%;
            height: 100%;
            content: "";
            cursor: not-allowed;
            transform: none;
            color: $lovis-red;
            background-color: rgba(255, 255, 255, 0.7);

            align-items: center;
            justify-content: center;
          }
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
