$time: 0.3s;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

@keyframes showIt {
  from {
    right: -400px;
  }
  to {
    right: 0;
  }
}

@keyframes hideIt {
  from {
    right: 0;
  }
  to {
    right: -400px;
  }
}


.menu-link {
  font-size: 4rem;
  text-decoration: none;
  color: #000000;

  &:hover {
    text-decoration: none;
    border: none;
  }

  &.active {
    color: rgba(0, 0, 0, 0.1);
    &::after {
      animation: fadeIn $time ease-in forwards,
      showIt $time ease-in forwards;

      @include mask();
    }
  }
}

@include media-breakpoint-up(sm) {
  .menu-link {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  section.image-header {
    display: block;
  }
}

.sidebar nav.main-navigation,
.nav-secondary {
  display: none;
}

#menu {
  z-index: 80;
  overflow-y: auto;
  height: 0;
  margin-left: $menuShadowWidth*-1;
  transition: left 2s ease-out;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@include media-breakpoint-up(sm) {
  #menu {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar nav.main-navigation,
  .nav-secondary {
    display: block;
  }
}
