.image-header {
  position: relative;
  z-index: 2;
  display: flex;
  height: 400px;
  margin: -0.2rem -2rem 6rem -1.5rem;
  transform: rotate(-0.5deg) translate(-0.3rem, 0.1rem);
  border: $grid-gutter-width*000.5 solid $paper-faded;
  border-bottom-width: 3.5rem;
  border-radius: 0.1rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5), inset 0 0 0.5rem rgba(0, 0, 0, 0.8);

  &:before,
  &:after {
    position: absolute;
    z-index: 4;
    display: block;
    width: 412px;
    height: 68px;
    margin: 0;
    padding: 0;
    content: "";
    background: transparent url($sprite) no-repeat -20px 5px;
    opacity: 0.85;
  }

  &::before {
    top: -4rem;
    right: 0;
  }

  &::after {
    top: 100%;
    left: -3rem;
    margin-top: 2rem;
    transform: rotate(182deg);
  }

  &--image_container {
    overflow: hidden;
    height: 324px;
  }

  &--inner_images {
    & img {
      width: 100%;
    }
  }

  &--vignette {
    position: absolute;
    z-index: 98;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.01);
    box-shadow: inset -1px -1px 100px 9px rgba(0, 0, 0, 0.85);

    &::after {
      position: absolute;
      top: -200px;
      left: -200px;
      width: 700px;
      height: 700px;
      content: "";
      border-radius: 350px;
      background-color: rgba(255, 255, 255, 0.1);
    }

    &::before {
      position: absolute;
      top: -450px;
      left: -300px;
      width: 600px;
      height: 600px;
      content: "";
      border-radius: 300px;
      background-color: rgba(255, 0, 0, 0.1);
      box-shadow: -1px -1px 100px 9px rgba(255, 0, 0, 0.2);
    }
  }
}

.main {
  .image-header {
    position: absolute;
    top: -230px;
    left: 0;
    transform: rotate(-10.2deg) translate(-12%, 37%) scale(0.55);
  }
  .entry {
    margin-top: 250px;
  }
}

@include media-breakpoint-up(sm) {
  .main {
    .image-header {
      position: relative;
      top: 0;
      transform: skew(0.1deg, 0.5deg);
    }
    .entry {
      margin-top: 0;
      border: none;
    }
  }
}

.swiper {
  &-container {
  }

  // ul
  &-wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  // li
  &-slide {
    display: flex;
    overflow: hidden;
    flex: 1 0 100%;
    height: auto;
    background-repeat: no-repeat;
    /*
            as progressive enhancement
            we are equalizing images here by writing an background-image into the element
            via Javascript
        */
    background-position: center center;
    background-size: cover;

    justify-content: center;
    align-items: center;

    &.info {
      display: flex;
      overflow-y: auto;
      flex-direction: row;
      max-height: 78vh;
      padding: 1rem 1rem 1rem $grid-gutter-width/2;

      align-items: flex-start;
      align-self: flex-start;

      section {
        width: 100%;
      }

      .headline {
        text-transform: none;

        strong {
          margin-right: 0.5rem;
        }
      }
    }

    & img {
      display: flex;
      width: 100%;

      &.isLoading {
        width: 100%;
        opacity: 0.3;

        image-rendering: pixelated;
        filter: grayscale(50%);
      }
    }
  }

  &-photo-credit {
    font-size: 0.85rem;
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 0.5rem;
    opacity: 0.3;
    text-shadow: 1px 1px 1px white;
  }

  &-container-horizontal {
    .swiper-button-prev,
    .swiper-button-next {
      transition: opacity 0.5s ease-out 0.5s;
    }

    .swiper-button-prev {
      left: $grid-gutter-width/2;
    }
    .swiper-button-next {
      right: $grid-gutter-width/2;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 0.1;
    }

    & > .swiper-pagination-bullets {
      bottom: 0;

      > .swiper-pagination-bullet-active {
      }
    }

    & > .swiper-scrollbar {
      position: absolute;
      z-index: 100;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0.3rem;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.5);

      > .swiper-scrollbar-drag {
        height: 100%;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
