.drop-shadow {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(230, 185, 101, 0.1) inset;
  border-bottom-right-radius: 0.2rem;
}

.drop-shadow:before,
.drop-shadow:after {
  position: absolute;
  z-index: -2;
  content: "";
}

.lifted:before,
.lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  max-width: 300px;
  height: 2rem;
  transform: rotate(-4deg);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}

.lifted:after {
  right: 10px;
  left: auto;
  transform: rotate(4deg);
}
