@font-face {
  font-family: 'estebanregular';
  src: url('../fonts/esteban-regular-webfont.woff2') format('woff2'),
  url('../fonts/esteban-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

html {
  font-size: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: estebanregular, serif;
  font-size: 1rem;
  line-height: 160%;
  overflow-x: hidden;
  color: $lovis-font;
  background-image: url($body-background);
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-attachment: fixed;
  background-color: transparent;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  &#tinymce {
    background: none;
  }
}

h1,
h2,
h3 {
  word-wrap: break-word;
  hyphens: auto;
}

h2 {
  letter-spacing: 0.04rem;
}

a {
  font-weight: 600;
  color: $lovis-red;

  &:hover {
    text-decoration: none;
    color: $lovis-red;
    border-bottom: 2px solid $lovis-red;
  }
}

.wrap {
  @include media-breakpoint-up(sm) {
    .main {
      margin-bottom: 50vh;
      padding-bottom: 20vh;
      border-radius: 0.1rem;
    }
    .stack {
      &::after {
        position: absolute;
        z-index: -3;
        bottom: -10px;
        left: 10px;
        display: block;
        width: calc(100% - 1rem);
        height: 48px;
        content: "";
        transform: skew(-6deg, 0.5deg);
        background-color: $paper-gray;
        box-shadow: -3px 0 10px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
  > .row {
    flex-direction: row-reverse;
  }

  .main {
    padding-bottom: 2rem;
    background-color: $paper-gray;
  }

}

body {
  &.page-template-template-custom-two-cols {
    .entry {
      column-width: 20em;
      column-gap: 2em;
    }
  }
}

hr {
  top: 0;
  left: 0;
  width: 100%;
  max-width: 450px;
  height: 2rem;
  display: block;
  border: none;
  background: url($sprite) 0 30px;
  margin: 0;
}

.page-header {
  + h1 {
    font-size: 1.8rem;
  }
}
