// mixins
@mixin border-bottom($width) {
  border-bottom: $width solid $lovis-brown;
}

@mixin menuLink($fontSize, $width) {
  a {
    font-size: $fontSize;
    font-weight: 400;
    display: inline-block;
    transition: color .5s ease-in;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $lovis-font;
    border-bottom: 2px solid transparent;
    &:hover,
    &:focus {
      color: $lovis-red;
      border-bottom: 2px solid $lovis-red;
    }
  }
  &.current_page_item {
    a {
      color: $lovis-red;

      @include border-bottom($width);
    }
  }
}

/* mobile menu hide & click mask */
@mixin mask {
  position: fixed;
  z-index: 73;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: "";
  opacity: 0; /* make things invisible upon start */
  background-color: rgba(0, 0, 0, 0.8);
}


@mixin sv-lovis {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  content: "";
  background: transparent url($lovis-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
