/* scrollbars on desktops */
@include media-breakpoint-up(sm) {
  ::-webkit-scrollbar-thumb:horizontal {
    height: 5px;
    background-color: #000000
  }

  ::-webkit-scrollbar-thumb:vertical {
    width: 5px;
    background-color: #000000;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16)
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background: $lovis-beige;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.13)
  }
}

