// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-gutter-width:     50px !default;


//colors;
$paper-gray:      #fcf9f4;
$paper-faded:     #f9f3e7;
$lovis-red:       #88122d;
$lovis-red-dark:  #7b1028;
$lovis-brown:     #463f2d;
$lovis-font:      #555147;
$lovis-beige:     #d4d2bf;


// menu
$menuShadowWidth:       6px;


// image path's
$sprite:                "../images/lovis_boe__sprite.png";
$body-background:       "../images/lovis_boe__body-ship.svg";
$lovis-icon:            "../images/lovis_boe__small-icon.svg";
