header {
  &.banner {
    .container {
      display: flex;
      flex-direction: row-reverse;

      > a,
      > nav {
        flex: 1 1 auto;
        text-align: right;

        align-self: center;
      }
      .brand {
        display: none;
      }

      .menu-link {
        margin-top: -0.8rem;
      }
    }
  }
}

.nav-primary {
  .nav {
    margin: 1rem 0;

    justify-content: flex-start;
    > .menu-item {
      display: none;

      // mobile > Startseite
      &:first-of-type a {
        position: relative;
        color: transparent;
        &:hover {
          border: none;
        }

        &::before {
          position: absolute;
          top: -1.2rem;
          display: block;
          width: 3rem;
          height: 3rem;
          content: "";
          background-image: url($lovis-icon);
          background-repeat: no-repeat;
          background-size: cover;
        }
      }

      &:first-child {
        display: block;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .nav-primary {
    .nav {
      margin: 2rem 0 2.5rem 0;

      justify-content: flex-end;
      > .menu-item {
        display: block;
        padding-left: 1.5rem;



        &:first-of-type a {
          color: $lovis-red;
          &::before {
            display: none;
          }
          a:hover {
            border-bottom: 2px solid $lovis-red;
          }
        }

        &.current-menu-item a {
          border-bottom: 2px solid $lovis-red;
        }
      }
    }
  }
}

