article {
  &.events {
    header {
      position: relative;

      .post-categories {
        position: absolute;
        top: -2.75rem;
        display: inline-flex;
        margin: 1rem 0 0;
        padding: 0;
        list-style: none;

        li a {
          font-size: 75%;
          padding: 0.2rem;
          border-radius: 0.2rem;
          margin-right: 0.5rem;

          &:hover {
            border: none;
          }
        }
      }

      h2 {
        margin-top: 1rem;
      }
    }
  }

  &.category-toern {
    .post-categories {
      li a {
        background-color: $lovis-red;
        color: white;
      }
    }
  }

  &.category-ausgebucht {
    time {
      text-decoration: line-through;
    }
    .entry-title {
      a {
        pointer-events: none;
      }
    }
  }

  &.category-bautermin {
    .post-categories {
      li a {
        background-color: $lovis-beige;
        color: inherit;
      }
    }
  }

  &.status {
    &--completed {
      li {
        &:after {
          content: " (beendet)";
          font-weight: 600;
        }

      }
    }
  }
}

.posts-navigation {
  .nav-links {
    display: flex;

    .nav {
      &-next,
      &-previous {
        flex: 1 1 50%;
      }
      &-next {
        text-align: right;
      }

    }
  }
}
