.sidebar {
  padding: 0;

  h3 {
    display: none;
  }

  ul {
    padding-left: 1rem;
    list-style-type: none;
  }

  nav {
    &.main-navigation {
      background-color: transparent;

      ul {
        display: flex;
        flex-direction: column;

        justify-items: flex-end;
        align-items: flex-end;
      }

      .page_item {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0 0.2rem;

        justify-items: flex-end;
        align-items: flex-end;

        .children {
          display: none;
        }

        &.current_page_item,
        &.current_page_parent,
        &.current_page_ancestor {
          & > .children {
            display: block;
            margin: 0.5rem 0 1rem;

            li a {
              background-color: $lovis-brown;
              box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
              padding: 0.3rem 0.5rem;
              color: white;
              border-bottom-left-radius: 0.2rem;
              font-size: 1rem;
            }

            .current_page_item > a {
              background-color: black;
            }
          }
        }

        a {
          font-size: 1rem;
          font-weight: 100;
          line-height: 100%;
          display: block;
          padding: 0.5rem;
          white-space: nowrap;
          letter-spacing: 0.1rem;
          color: $paper-gray;
          border: none;
          border-top-left-radius: 3px;
          background-color: $lovis-red;
          box-shadow: 1px 6px 5px rgba(0, 0, 0, 0.4);
          text-shadow: black 0 -1px 1px;
          position: relative;
        }
      }

      .page_item {
        $border-width: 0.75rem;

        > a {
          &::before {
            position: absolute;
            z-index: -1;
            top: ($border-width+0.25);
            left: -($border-width + $border-width);
            display: block;
            content: "";
            border: $border-width solid $lovis-red-dark;
            border-right-width: ($border-width + 0.5);
            border-left-color: transparent;
            box-shadow: rgba(000, 000, 000, 0.4) 1px 1px 1px;
          }

          &::after {
            position: absolute;
            top: ($border-width + 1.25);
            left: 0;
            display: block;
            content: "";
            border-width: ($border-width - 0.2) 0 0 ($border-width - 0.2);
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
        }

        &.page-item-6 {
          $border-width: 1.5rem;

          > a {
            font-size: 3rem;
            padding: 0.7rem;

            &::before {
              top: ($border-width + 0.5);
              left: -($border-width + 2.25);
              border: $border-width solid $lovis-red-dark;
              border-right-width: ($border-width + 1.25);
              border-left-color: transparent;
            }
            &::after {
              top: 4.5rem;
            }
          }
        }

        // LOVIS
        &.page-item-31 {
          $border-width: 1.2rem;
          > a {
            font-size: 2rem;

            &::before {
              top: ($border-width);
              left: -($border-width + $border-width);
              border: $border-width solid $lovis-red-dark;
              border-right-width: ($border-width + 0.5);
              border-left-color: transparent;
            }
            &::after {
              top: 3rem;
            }

          }
        }

        // WE
        &.page-item-23 {
          $border-width: 1.4rem;
          > a {
            font-size: 2.5rem;

            &::before {
              top: ($border-width);
              left: -($border-width + $border-width);
              border: $border-width solid $lovis-red-dark;
              border-right-width: ($border-width + 0.5);
              border-left-color: transparent;
            }
            &::after {
              top: 3.5rem;
            }
          }
        }

        ul li a {
          &::after,
          &::before {
            display: none;
          }
        }
        &:hover {
          a {
            background-color: $lovis-red-dark;
          }
        }

        // hide submenu of projects on lovis
        &.page-item-60 {
          .children {
            display: none;
          }
        }
      }
    }

    &.mobile-navigation {
      padding-top: 0;

      .children {
        margin-bottom: 1rem
      }

      .current_page_item a {
        border-bottom: 2px solid $lovis-red;
      }

      .page-item-60 .children {
        display: none;
      }

      &::before {
        @include sv-lovis();
        height: 150px;
        margin: 0 auto 1rem;
      }
    }
  }

  &::before {
    @include sv-lovis();
    height: 50px;
    margin: 0;
  }
}
